<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos</title>
</head>
<body>
    <div>
        <div class="">
            <h1>Carga Masiva de Estudiantes</h1>
        </div>
        <form  method="POST" enctype="multipart/form-data">
            <div>
                <label >Selecione el archivo</label>
                <input name="archivo" type="file" required>
            </div>
            
            <button type="submit">Ingresar</button>
        </form>
        </div>
    </div>


</body>
</html>